@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

html {
    background: #c9ced3;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Spartan,sans-serif;
    font-size: 12px;
}

.player_container {
    height: 500px;
    width: 400px;
    background: #e1e9f0;
    border-radius: 20px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.img_container {
    height: 300px;
    width: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.img_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);

}

.progress_container {
    width: 80%;
    height: 5px;
    background-color: #fff;
    margin: 60px auto 0 auto;
    border-radius: 4px;
}

.progress_container:hover {
    cursor: pointer;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #000;
    border-radius: 4px;
    transition: width 0.1s linear;
}

.duration_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

/* Controls */
.player_controls {
    position: relative;
    top: -50px;
    left: 120px;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.fas {
    font-size: 30px;
    color: rgb(129, 129, 129);
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

.main_button {
    font-size: 40px;
    position: relative;
    top: 3px;
}

.repeat_on {
    background-color: rgb(148, 75, 170);
}

/* Media query: iPhone vertical */
@media screen and (max-width: 376px) {
    .player_container {
        width: 95vw;
    }

    .img_container {
        left: 29px;
    }

    h3 {
        font-size: 15px;
    }
    
}

